<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Customer List</title>
</head>
<body>
<div class="container">
    <h3 class="text-center">Customer</h3>
    <a type="button" class="btn btn-primary" th:href="@{new}">New Customer</a>
    <table class="table">
        <thead>
        <th scope="col">CustomerId</th>
        <th scope="col">Firstname</th>
        <th scope="col">LastName</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Street</th>
        <th scope="col">Street Number</th>
        <th scope="col">Zip Code</th>
        <th scope="col">City</th>
        <th scope="col">Actions</th>
        </thead>
        <tbody>
        <tr th:each="customer : ${customerList}">
            <th scope="row" th:text="${customer.customerId}"></th>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.birthdate}"></td>
            <td th:text="${customer.address.street}"></td>
            <td th:text="${customer.address.streetNumber}"></td>
            <td th:text="${customer.address.zipCode}"></td>
            <td th:text="${customer.address.city}"></td>
            <td><a th:href="@{'edit/'+${customer.customerId}}" class="btn btn-primary">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
